@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
  color: black;
  line-height: 1.5;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: 0.4rem 2rem;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .btn-primary {
    display: none;
  }
}

.btn-secondary {
  display: none;
}

@media screen and (max-width: 768px) {
  .btn-secondary {
    display: block;
  }
}

.burger-menu {
  display: none;
}

.burger-menu img {
  display: block;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}

.hero {
  background: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  color: white;
  padding: 0 3.5rem;
}

@media screen and (max-width: 768px) {
  .hero {
    background: url("../images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    padding: 0 2.5rem;
  }
}

.hero__content {
  padding: 4rem 0;
}

.hero__content .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content .navbar__logo {
  font-family: "Alata", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.hero__content .navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .hero__content .navbar__items {
    display: none;
  }
}

.hero__content .navbar__items--item {
  margin-right: 2.5rem;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.hero__content .navbar__items--item:last-child {
  margin-right: 0;
}

.hero__content .navbar__items--item a:hover {
  border-bottom: 1px solid #fff;
}

.hero__content .header {
  margin-top: 20rem;
}

@media screen and (max-width: 768px) {
  .hero__content .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50%;
  }
}

.hero__content .header__heading {
  display: inline-block;
  border: 1px solid white;
}

.hero__content .header__heading--details {
  padding: 3rem;
  padding-right: 6rem;
  line-height: 1;
  letter-spacing: 2px;
  font-size: 6rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .hero__content .header__heading--details {
    font-size: 4rem;
    line-height: 1.3;
  }
}

.vr {
  padding: 10rem 3.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .vr {
    padding: 5rem 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.vr__image {
  display: block;
  width: auto;
}

@media screen and (max-width: 768px) {
  .vr__image {
    display: none;
  }
}

.vr__image-mobile {
  display: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .vr__image-mobile {
    display: block;
  }
}

.vr__details {
  width: 60rem;
  padding: 7.5rem;
  background-color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -7.5rem;
  margin-left: -17.5rem;
}

@media screen and (max-width: 768px) {
  .vr__details {
    padding: 5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 0rem;
    margin-left: 0rem;
    width: 40rem;
  }
}

.vr__details--heading {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .vr__details--heading {
    font-size: 3.25rem;
  }
}

.vr__details--paragraph {
  color: dimgray;
}

.creation {
  padding: 10rem 3.5rem;
}

@media screen and (max-width: 768px) {
  .creation {
    padding: 5rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.creation .seeall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .creation .seeall {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 3.5rem;
  }
}

.creation .seeall__heading {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .creation .seeall__heading {
    font-size: 3.5rem;
  }
}

.creation .articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 768px) {
  .creation .articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 2.5rem;
  }
}

.creation .articles__article {
  position: relative;
  overflow: hidden;
}

.creation .articles__article--img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .creation .articles__article--img {
    display: none;
  }
}

.creation .articles__article--img-mobile {
  display: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .creation .articles__article--img-mobile {
    display: block;
  }
}

.creation .articles__article--name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 4rem 4rem;
  color: white;
  font-size: 3.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .creation .articles__article--name {
    padding: 0 0 2.5rem 2.5rem;
    font-size: 2.5rem;
  }
}

.creation .articles__article .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.footer {
  background-color: black;
  color: white;
  margin-bottom: 2rem;
}

.footer .rows {
  padding: 4rem 3.5rem;
}

@media screen and (max-width: 768px) {
  .footer .rows {
    padding: 4rem 2.5rem;
  }
}

.footer .rows .row-one,
.footer .rows .row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .footer .rows .row-one,
  .footer .rows .row-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .rows .row-one {
  margin-bottom: 2rem;
}

.footer .rows .row-one p {
  font-size: 2.5rem;
}

.footer .rows .row-one .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer .rows .row-one .social {
    display: none;
  }
}

.footer .rows .row-one .social li {
  margin-left: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .rows .row-one .social li:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.footer .rows .social-mobile {
  display: none;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer .rows .social-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .rows .social-mobile li {
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .rows .social-mobile li:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.footer .rows .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer .rows .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer .rows .menu li {
  margin-right: 2.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
  .footer .rows .menu li {
    margin-right: 0;
    margin-bottom: 2.5rem;
  }
}

.footer .rows .menu li:hover {
  border-bottom: 1px solid white;
}

.footer .rows .copyright {
  font-size: 1.4rem;
  color: #8c8c8c;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 100;
    padding: 4rem 2.5rem;
  }
  .navbar-mobile__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-mobile__header a {
    cursor: default;
  }
  .navbar-mobile__header img {
    display: block;
    cursor: pointer;
  }
  .navbar-mobile .navbar__items--mobile {
    margin-top: 25rem;
  }
  .navbar-mobile .navbar__items--mobile li {
    margin: 0 0 2.5rem 0;
    font-size: 3.5rem;
    font-family: "Josefin Sans", sans-serif;
  }
}

.attribution {
  padding: 2rem 2.5rem;
  text-align: center;
}

.attribution .creator {
  font-family: "Josefin Sans", sans-serif;
  color: #1c4e46;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  border-bottom: 1px dotted #1c4e46;
}
/*# sourceMappingURL=style.css.map */